# Mục lục

# I. Cài đặt

## Nạp thư viện lần đầu

In [8]:
## Có thể gọi các class chi tiết trong thư viện thay vì sử dụng cấp cao nhất là Vnstock
from vnstock import Listing, Quote, Company, Finance, Trading, Screener
import time

# II. Truy xuất dữ liệu - CK Việt Nam

* Khởi tạo đối tượng stock để dùng cho tất cả thao tác truy xuất dữ liệu chứng khoán về sau. Luồng công việc minh hoạ dưới đây giả định bạn bắt đầu với 1 mã chứng khoán cần phân tích, mặc định là VN30F1M. Bạn có thể thay đổi sang mã bất kỳ bằng cách nhập tham số `symbol` tại hàm chức năng thay vì khởi tạo lại đối tượng. Ví dụ, mã `VN30F1M` được gán khi tạo đối tượng, nhưng khi gọi dữ liệu giá lịch sử, bạn có thể cập nhật mã mới là `ACB` thay vì khởi tạo lại đối tượng một cách bất tiện: `stock.quote.history(symbol='ACB', start='2020-01-01', end='2024-12-31')`

* Chọn nguồn dữ liệu thuộc danh sách được hỗ trợ: VCI, TCBS cho chứng khoán trong nước, MSN cho dữ liệu chứng khoán quốc tế và sàn HOSE.

## Listing: Liệt kê danh sách chứng khoán

In [9]:
# VCI là nguồn dữ liệu từ CK Vietcap bên cạnh nguồn từ TCBS
time.sleep(10)
from vnstock import Listing
listing = Listing()

### Danh sách tất cả mã CK niêm yết (đơn giản)

In [10]:
listing.all_symbols()

     symbol                                         organ_name
0       YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1       YEG                     Công ty Cổ phần Tập đoàn Yeah1
2       YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3       YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4       XPH                    Công ty Cổ phần Xà phòng Hà Nội
...     ...                                                ...
1715    AAS            Công ty Cổ phần Chứng khoán SmartInvest
1716    AAM                    Công ty Cổ Phần Thủy Sản MeKong
1717    AAH                           Công ty Cổ phần Hợp Nhất
1718    AAA                  Công ty Cổ phần Nhựa An Phát Xanh
1719    A32                                 Công ty Cổ phần 32

[1720 rows x 2 columns]

### Liệt kê mã CP theo sàn (đầy đủ)

In [11]:
# Dữ liệu bao gồm tất cả các mã không kể đang niêm yết hay không
listing.symbols_by_exchange()

,symbol,exchange,type,organ_short_name,organ_name,product_grp_id
0,YTC,UPCOM,STOCK,XNK Y tế TP.HCM,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...,UPX
1,YEG,HSX,STOCK,Tập đoàn Yeah1,Công ty Cổ phần Tập đoàn Yeah1,STO
2,YBM,HSX,STOCK,Khoáng sản CN Yên Bái,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái,STO
3,YBC,UPCOM,STOCK,Xi măng và Khoáng sản Yên Bái,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái,UPX
4,XPH,UPCOM,STOCK,Xà phòng Hà Nội,Công ty Cổ phần Xà phòng Hà Nội,UPX
...,...,...,...,...,...,...
3052,41I1F7000,DELISTED,FU,41I1F7000 - HĐTL,41I1F7000 - HĐTL,FIO
3053,41BAG6000,HNX,FU,10-year Government Bond Futures 062026,10-year Government Bond Futures 062026,FBX
3054,41BAG3000,HNX,FU,10-year Government Bond Futures 032026,10-year Government Bond Futures 032026,FBX
3055,41B5G6000,HNX,FU,5-year Government Bond Futures 062026,5-year Government Bond Futures 062026,FBX
3056,41B5G3000,HNX,FU,5-year Government Bond Futures 032026,5-year Government Bond Futures 032026,FBX

### Liệt kê mã CP theo ngành icb

In [12]:
listing.symbols_by_industries()

,symbol,organ_name,icb_name3,icb_name2,icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,F88,Công ty Cổ phần Đầu tư F88,Dịch vụ tài chính,Dịch vụ tài chính,Tài chính cá nhân,CT,8000,8700,8770,8773
1,DVT,Trung tâm Đào tạo nghiệp vụ Giao thông vận tải...,Tư vấn & Hỗ trợ Kinh doanh,Hàng & Dịch vụ Công nghiệp,Đào tạo & Việc làm,CT,2000,2700,2790,2793
2,AFX,Công ty Cổ phần Xuất Nhập khẩu Nông sản Thực p...,Phân phối thực phẩm & dược phẩm,Bán lẻ,Phân phối thực phẩm,CT,5000,5300,5330,5337
3,AGR,Công ty Cổ phần Chứng khoán AGRIBANK,Dịch vụ tài chính,Dịch vụ tài chính,Môi giới chứng khoán,CK,8000,8700,8770,8777
4,ALT,Công ty Cổ phần Văn hóa Tân Bình,Truyền thông,Truyền thông,"Sách, ấn bản & sản phẩm văn hóa",CT,5000,5500,5550,5557
...,...,...,...,...,...,...,...,...,...,...
1576,X26,Công ty Cổ phần 26,Hàng cá nhân,Hàng cá nhân & Gia dụng,Hàng May mặc,CT,3000,3700,3760,3763
1577,X77,Công ty Cổ phần Thành An 77,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1578,XMC,Công ty cổ phần Đầu tư và Xây dựng Xuân Mai,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1579,XPH,Công ty Cổ phần Xà phòng Hà Nội,Hàng cá nhân,Hàng cá nhân & Gia dụng,Hàng cá nhân,CT,3000,3700,3760,3767
1580,XMP,Công ty Cổ phần Thủy điện Xuân Minh,Sản xuất & Phân phối Điện,"Điện, nước & xăng dầu khí đốt",Sản xuất & Phân phối Điện,CT,7000,7500,7530,7535

### Danh sách cổ phiếu theo nhóm

In [13]:
# Liệt kê tất cả mã chứng khoán theo nhóm phân loại. Ví dụ HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (mã chỉ số hợp đồng tương lai), CW (chứng quyền)
listing.symbols_by_group('HOSE')

0      AAA
1      AAM
2      AAT
3      ABR
4      ABS
      ...
409    VTB
410    VTO
411    VTP
412    YBM
413    YEG
Name: symbol, Length: 414, dtype: object

### Danh sách mã ngành theo mã icb

In [14]:
listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3
...,...,...,...,...
150,Viễn thông,Telecommunications,6000,1
151,Tiện ích Cộng đồng,Utilities,7000,1
152,Tài chính,Financials,8000,1
153,Ngân hàng,Banks,8301,1
154,Công nghệ Thông tin,Technology,9000,1

## Quote: Giá chứng khoán

In [15]:
time.sleep(10)
from vnstock import Quote
quote = Quote(symbol='VIC', source='VCI')

#### Giá lịch sử

##### Cổ phiếu

In [16]:
df = quote.history(start='2024-01-01', end='2025-03-19', interval='1D')
df

          time   open   high   low  close    volume
0   2024-01-02  44.95  44.95  44.0  44.00   2284931
1   2024-01-03  43.50  44.15  43.5  44.15   2277071
2   2024-01-04  44.15  44.40  43.8  44.15   2340552
3   2024-01-05  44.15  44.20  43.9  44.10   1483990
4   2024-01-08  44.45  44.75  44.1  44.35   2537739
..         ...    ...    ...   ...    ...       ...
295 2025-03-13  48.30  51.40  47.5  51.40  16415000
296 2025-03-14  51.80  52.80  51.4  52.20   8422600
297 2025-03-17  52.50  52.70  50.8  52.10   6497300
298 2025-03-18  52.10  52.70  51.1  51.30   6017000
299 2025-03-19  50.80  52.50  49.2  51.90  10342000

[300 rows x 6 columns]

##### Hợp đồng tương lai

In [17]:
quote.history(symbol='VN30F1M', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high   low  close    volume
0   2024-01-02  44.95  44.95  44.0  44.00   2284931
1   2024-01-03  43.50  44.15  43.5  44.15   2277071
2   2024-01-04  44.15  44.40  43.8  44.15   2340552
3   2024-01-05  44.15  44.20  43.9  44.10   1483990
4   2024-01-08  44.45  44.75  44.1  44.35   2537739
..         ...    ...    ...   ...    ...       ...
295 2025-03-13  48.30  51.40  47.5  51.40  16415000
296 2025-03-14  51.80  52.80  51.4  52.20   8422600
297 2025-03-17  52.50  52.70  50.8  52.10   6497300
298 2025-03-18  52.10  52.70  51.1  51.30   6017000
299 2025-03-19  50.80  52.50  49.2  51.90  10342000

[300 rows x 6 columns]

In [18]:
quote.history(symbol='VN30F2411', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high   low  close    volume
0   2024-01-02  44.95  44.95  44.0  44.00   2284931
1   2024-01-03  43.50  44.15  43.5  44.15   2277071
2   2024-01-04  44.15  44.40  43.8  44.15   2340552
3   2024-01-05  44.15  44.20  43.9  44.10   1483990
4   2024-01-08  44.45  44.75  44.1  44.35   2537739
..         ...    ...    ...   ...    ...       ...
295 2025-03-13  48.30  51.40  47.5  51.40  16415000
296 2025-03-14  51.80  52.80  51.4  52.20   8422600
297 2025-03-17  52.50  52.70  50.8  52.10   6497300
298 2025-03-18  52.10  52.70  51.1  51.30   6017000
299 2025-03-19  50.80  52.50  49.2  51.90  10342000

[300 rows x 6 columns]

##### Chỉ số

In [19]:
quote.history(symbol='VNINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high   low  close    volume
0   2024-01-02  44.95  44.95  44.0  44.00   2284931
1   2024-01-03  43.50  44.15  43.5  44.15   2277071
2   2024-01-04  44.15  44.40  43.8  44.15   2340552
3   2024-01-05  44.15  44.20  43.9  44.10   1483990
4   2024-01-08  44.45  44.75  44.1  44.35   2537739
..         ...    ...    ...   ...    ...       ...
295 2025-03-13  48.30  51.40  47.5  51.40  16415000
296 2025-03-14  51.80  52.80  51.4  52.20   8422600
297 2025-03-17  52.50  52.70  50.8  52.10   6497300
298 2025-03-18  52.10  52.70  51.1  51.30   6017000
299 2025-03-19  50.80  52.50  49.2  51.90  10342000

[300 rows x 6 columns]

In [20]:
quote.history(symbol='HNXINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high   low  close    volume
0   2024-01-02  44.95  44.95  44.0  44.00   2284931
1   2024-01-03  43.50  44.15  43.5  44.15   2277071
2   2024-01-04  44.15  44.40  43.8  44.15   2340552
3   2024-01-05  44.15  44.20  43.9  44.10   1483990
4   2024-01-08  44.45  44.75  44.1  44.35   2537739
..         ...    ...    ...   ...    ...       ...
295 2025-03-13  48.30  51.40  47.5  51.40  16415000
296 2025-03-14  51.80  52.80  51.4  52.20   8422600
297 2025-03-17  52.50  52.70  50.8  52.10   6497300
298 2025-03-18  52.10  52.70  51.1  51.30   6017000
299 2025-03-19  50.80  52.50  49.2  51.90  10342000

[300 rows x 6 columns]

In [21]:
quote.history(symbol='UPCOMINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high   low  close    volume
0   2024-01-02  44.95  44.95  44.0  44.00   2284931
1   2024-01-03  43.50  44.15  43.5  44.15   2277071
2   2024-01-04  44.15  44.40  43.8  44.15   2340552
3   2024-01-05  44.15  44.20  43.9  44.10   1483990
4   2024-01-08  44.45  44.75  44.1  44.35   2537739
..         ...    ...    ...   ...    ...       ...
295 2025-03-13  48.30  51.40  47.5  51.40  16415000
296 2025-03-14  51.80  52.80  51.4  52.20   8422600
297 2025-03-17  52.50  52.70  50.8  52.10   6497300
298 2025-03-18  52.10  52.70  51.1  51.30   6017000
299 2025-03-19  50.80  52.50  49.2  51.90  10342000

[300 rows x 6 columns]

##### Chứng quyền

In [22]:
time.sleep(10)
quote.history(symbol='CFPT2314', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high   low  close    volume
0   2024-01-02  44.95  44.95  44.0  44.00   2284931
1   2024-01-03  43.50  44.15  43.5  44.15   2277071
2   2024-01-04  44.15  44.40  43.8  44.15   2340552
3   2024-01-05  44.15  44.20  43.9  44.10   1483990
4   2024-01-08  44.45  44.75  44.1  44.35   2537739
..         ...    ...    ...   ...    ...       ...
295 2025-03-13  48.30  51.40  47.5  51.40  16415000
296 2025-03-14  51.80  52.80  51.4  52.20   8422600
297 2025-03-17  52.50  52.70  50.8  52.10   6497300
298 2025-03-18  52.10  52.70  51.1  51.30   6017000
299 2025-03-19  50.80  52.50  49.2  51.90  10342000

[300 rows x 6 columns]

##### Trái phiếu niêm yết

In [23]:
time.sleep(10)
time.sleep(10)
quote.history(symbol='CII424002', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high   low  close    volume
0   2024-01-02  44.95  44.95  44.0  44.00   2284931
1   2024-01-03  43.50  44.15  43.5  44.15   2277071
2   2024-01-04  44.15  44.40  43.8  44.15   2340552
3   2024-01-05  44.15  44.20  43.9  44.10   1483990
4   2024-01-08  44.45  44.75  44.1  44.35   2537739
..         ...    ...    ...   ...    ...       ...
295 2025-03-13  48.30  51.40  47.5  51.40  16415000
296 2025-03-14  51.80  52.80  51.4  52.20   8422600
297 2025-03-17  52.50  52.70  50.8  52.10   6497300
298 2025-03-18  52.10  52.70  51.1  51.30   6017000
299 2025-03-19  50.80  52.50  49.2  51.90  10342000

[300 rows x 6 columns]

#### Intraday: dữ liệu khớp lệnh

In [24]:
time.sleep(10)
# Dữ liệu khớp lệnh trong ngày giao dịch realtime hoặc ngày gần nhất (ngoài giờ giao dịch)
quote.intraday(symbol='VIC', page_size=10_000, show_log=False)

                          time  price  volume match_type         id
0    2025-10-15 09:15:00+07:00  214.1     100        Buy  380224301
1    2025-10-15 09:15:00+07:00  214.1     300        Buy  380224425
2    2025-10-15 09:15:00+07:00  214.1    2000        Buy  380224424
3    2025-10-15 09:15:00+07:00  214.1     100        Buy  380224423
4    2025-10-15 09:15:00+07:00  214.1     300        Buy  380224422
...                        ...    ...     ...        ...        ...
7303 2025-10-15 14:45:00+07:00  209.5     600        Buy  381038395
7304 2025-10-15 14:45:00+07:00  209.5     100        Buy  381038396
7305 2025-10-15 14:45:00+07:00  209.5    2000        Buy  381038397
7306 2025-10-15 14:45:00+07:00  209.5     300        Buy  381038381
7307 2025-10-15 14:45:00+07:00  209.5     700        Buy  381038493

[7308 rows x 5 columns]

In [25]:
# Bước giá và khối lượng giao dịch: realtime
quote.price_depth('VIC')

       price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0   214900.0     1400.0         1400.0               0                    0
1   214100.0   112600.0       112400.0           200.0                  0.0
2   214000.0     3300.0            0.0          3300.0                  0.0
3   213900.0     1700.0          600.0          1100.0                  0.0
4   213800.0     1200.0            0.0          1200.0                  0.0
..       ...        ...            ...             ...                  ...
69  206400.0     1300.0         1000.0           300.0                  0.0
70  206300.0     1300.0          500.0           800.0                  0.0
71  206200.0    23400.0         9100.0         14300.0                  0.0
72  206100.0    24900.0         6400.0         18500.0                  0.0
73  206000.0    10300.0            0.0         10300.0                  0.0

[74 rows x 5 columns]

## Trading: Giao dịch

In [26]:
time.sleep(10)
from vnstock import Trading
trading = Trading(source='VCI')

### Bảng giá

In [27]:
trading.price_board(['ACB'])

  listing                                                                  \
   symbol ceiling  floor ref_price stock_type exchange     trading_status
0     ACB   28100  24500     26300      STOCK      HSX  TRADING_ACTIVATED

                                                            ...     bid_ask  \
  trading_status_code trading_status_group security_status  ... bid_2_price
0                  20                    2               N  ...       26250

                                                                              \
  bid_2_volume bid_3_price bid_3_volume ask_1_price ask_1_volume ask_2_price
0        64600       26200       595600       26350         6700       26400


  ask_2_volume ask_3_price ask_3_volume
0        61200       26450        36800

[1 rows x 70 columns]

In [28]:
time.sleep(10)
trading.price_board(['VCB','ACB','TCB','BID']).T # Bỏ .T để xoay trở lại đúng kiểu hiển thị bảng giá

                           0      1      2      3
listing symbol           VCB    ACB    TCB    BID
        ceiling        67500  28100  43650  42350
        floor          58700  24500  37950  36850
        ref_price      63100  26300  40800  39600
        stock_type     STOCK  STOCK  STOCK  STOCK
...                      ...    ...    ...    ...
bid_ask ask_1_volume    2000   6700  16300   5500
        ask_2_price    62900  26400  40850  39450
        ask_2_volume  182500  61200  13900  26000
        ask_3_price    63000  26450  40900  39500
        ask_3_volume   82700  36800  50600  57100

[70 rows x 4 columns]

## Company: Thông tin công ty

> Đã bổ sung nguồn dữ liệu từ VCI từ bản Vnstock3.2.0

### New - VCI

In [29]:
time.sleep(10)
from vnstock import Company
company = Company(symbol='VIC', source='VCI')

Loại bỏ đoạn mã `.head()` để xem toàn bộ dữ liệu thay vì chỉ lấy 5 dòng đầu tiên.

#### Hồ sơ

In [30]:
time.sleep(10)
company.overview()

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
0,VIC,76055,3853015512,- Ngày 03/05/2002: Tiền thân là Công ty Cổ ph...,Tập đoàn Vingroup - Công ty Cổ phần (VIC) có ...,Bất động sản,Bất động sản,Bất động sản,3853015512,38804763840000

#### Cổ đông

In [31]:
time.sleep(10)
company.shareholders()

,id,share_holder,quantity,share_own_percent,update_date
0,90396616,Công ty Cổ Phần Tập Đoàn Đầu Tư Việt Nam,1260132658,0.324900,2025-10-05
1,90417066,Phạm Nhật Vượng,389921389,0.100400,2025-10-13
2,90396441,Công Ty Cổ Phần Quản Lý Và Đầu Tư Bất Động Sản...,243462578,0.062800,2025-10-05
3,90419977,SK Investment Vina II Pte. Ltd,180611271,0.047200,2025-10-05
4,90417839,Phạm Thu Hương,170610525,0.044000,2025-10-05
5,90396208,Công ty Cổ phần Năng lượng Vinenergo,165706403,0.042700,2025-10-13
6,90395786,Công ty Cổ phần Đầu tư và Phát triển Đường sắt...,135646608,0.035000,2025-10-05
7,90395933,Công ty Cổ phần Dịch vụ Thương mại Tổng hợp Wi...,95562125,0.029942,2025-02-05
8,90417855,Phạm Thúy Hằng,114163446,0.029850,2025-10-05
9,90397074,Công ty CP Đầu Tư Và Phát Triển Địa Ốc Thành P...,44439583,0.023800,2025-02-05
10,90396950,Công ty Cổ phần Vinpearl,87483035,0.022600,2025-10-05
11,90403292,"KEB Hana Bank, Co., Ltd.",63642515,0.016400,2025-10-05
12,90395908,Công ty Cổ phần Di Chuyển Xanh Và Thông Minh GSM,50765942,0.013300,2025-10-05
13,90418820,Phan Thu Hương,11636004,0.012528,2024-08-22
14,90397217,Công ty TNHH Bất Động Sản Hoa Phượng,29353951,0.007600,2025-10-05
15,90397704,Công ty TNHH MTV Vinpearl Hội An,13642392,0.007300,2025-02-05
16,90424976,VanEck Vietnam ETF,19749849,0.005100,2025-10-05
17,90395055,Công ty Cổ Phần Bất Động Sản Xavinco,16162447,0.004100,2025-10-05
18,90416730,Phạm Hồng Linh,13797503,0.003620,2025-10-05
19,90411070,Nguyễn Quốc Thành,12755636,0.003344,2025-10-05
20,90425140,Vietnam Enterprise Investments Limited,7991221,0.002363,2025-10-05
21,90397214,Công ty TNHH Bảo hiểm Nhân thọ Prudential Việt...,3765000,0.002039,2025-03-10
22,90395855,Công ty Cổ Phần Đầu Tư Xây Dựng Đại An,3304124,0.001790,2015-06-15
23,90417807,Phạm Thị Tuyết Mai,6126247,0.001500,2025-10-05
24,90404425,Lê Minh Ngọc,2495414,0.000653,2025-10-05
25,90418105,Phạm Văn Khương,2267587,0.000600,2025-10-05
26,90418577,Phan Quang Đăng,1216348,0.000300,2025-10-05
27,90408334,Nguyễn Diệu Linh,932709,0.000240,2025-10-05
28,90416943,Phạm Minh Vũ,753874,0.000190,2025-10-05
29,90401057,Dương Thị Hoàn,672322,0.000180,2025-10-05
30,90415943,Nguyễn Việt Quang,672196,0.000180,2025-10-05
31,90416376,PCA International Funds SPC,200000,0.000108,2025-03-10
32,90398522,Đặng Thanh Thủy,177983,0.000100,2024-08-22
33,90419328,Quỹ Đầu tư Bất động sản Techcom Việt Nam,260000,0.000077,2025-10-05
34,90397828,Công ty TNHH Quản lý Quỹ Bảo Việt,115719,0.000063,2015-06-15
35,90401707,HOÀNG BẠCH DƯƠNG,99787,0.000054,2015-09-14
36,90402338,Hoàng Văn Sơn,84375,0.000046,2015-09-14
37,90419788,Quỹ ETF SSIAM VNX50,150667,0.000045,2025-10-05
38,90406713,Mai Hương Nội,150000,0.000040,2025-10-05
39,90413719,Nguyễn Thị Thu Hiền,150196,0.000040,2025-10-05
40,90411756,Nguyễn Thế Anh,163854,0.000040,2025-10-05
41,90406839,Mai Thu Thủy,150000,0.000040,2025-10-05
42,90419453,Quỹ Đầu tư Cổ phiếu Manulife,67658,0.000020,2025-10-05
43,90393703,Bế Thị Thuần,54736,0.000020,2024-08-22
44,90414530,Nguyễn Trọng Hiền,35343,0.000019,2015-09-14
45,90419487,Quỹ Đầu tư Cổ phiếu Năng động Bảo Việt,48433,0.000014,2020-07-14
46,90419654,Quỹ Đầu tư Tăng trưởng DFVN,31000,0.000009,2025-10-05
47,90417862,Phạm Thy Thơ,15795,0.000009,2015-09-14
48,90421528,Trần Anh Tuấn,5299,0.000003,2015-09-14
49,90405419,Lê Thị Thu Thủy,3927,0.000002,2015-09-14
50,90419071,Phùng Thu Hằng,4372,0.000002,2024-08-22

#### Công ty con

In [32]:
time.sleep(10)
company.subsidiaries()

,id,sub_organ_code,ownership_percent,organ_name,type
0,25577408,0110006565,0.6142,Công ty Cổ phần Đầu Tư Phát Triển VS,công ty con
1,25577409,0110009975,NaN,Công ty Cổ Phần Đầu Tư Vincom Retail,công ty con
2,25577410,0110210553,0.9900,Công ty Cổ Phần Đầu Tư Y Học Công Nghệ Cao Vin...,công ty con
3,25577411,0110537975,0.7344,Công ty Cổ Phần Bất Động Sản Sv Tây Hà Nội 2,công ty con
4,25577412,0110896484,0.5100,Công ty Cổ Phần Nghiên Cứu Phát Triển Và Ứng D...,công ty con
...,...,...,...,...,...
1,25577518,FTCO,NaN,Công ty Cổ phần Bê tông Ngoại Thương,công ty liên kết
2,25577519,ONEMOUNT,0.2622,Công ty Cổ Phần One Mount Group,công ty liên kết
3,25577520,TTF,NaN,Công ty Cổ phần Tập đoàn Kỹ nghệ Gỗ Trường Thành,công ty liên kết
4,25577521,TTPACK,NaN,Công Ty Cổ Phần Bao Bì Trường Thành,công ty liên kết
5,25577522,VRJSC,0.1837,Công ty Cổ phần Vincom Retail,công ty liên kết

#### Công ty liên kết

In [33]:
# Phương thức này không có trong nguồn TCBS
time.sleep(10)
company.affiliate()

,id,sub_organ_code,organ_name,ownership_percent
0,25577517,0110859676,Công ty Cổ Phần Quỹ Đầu Tư Mạo Hiểm Vinventures,0.0800
1,25577518,FTCO,Công ty Cổ phần Bê tông Ngoại Thương,NaN
2,25577519,ONEMOUNT,Công ty Cổ Phần One Mount Group,0.2622
3,25577520,TTF,Công ty Cổ phần Tập đoàn Kỹ nghệ Gỗ Trường Thành,NaN
4,25577521,TTPACK,Công Ty Cổ Phần Bao Bì Trường Thành,NaN
5,25577522,VRJSC,Công ty Cổ phần Vincom Retail,0.1837

#### Lãnh đạo

In [34]:
time.sleep(10)
company.officers(filter_by='working').head() # filter_by='all' hoặc 'working' hoặc 'resigned'

,id,officer_name,officer_position,position_short_name,update_date,officer_own_percent,quantity
0,18,Phạm Nhật Vượng,Chủ tịch Hội đồng Quản trị,Chủ tịch HĐQT,2025-08-12,0.10040,389921389
1,5,Phạm Thu Hương,Phó Chủ tịch Hội đồng Quản trị,Phó Chủ tịch HĐQT,2025-08-12,0.04400,170610525
2,6,Phạm Thúy Hằng,Phó Chủ tịch Hội đồng Quản trị,Phó Chủ tịch HĐQT,2025-08-12,0.02985,114163446
3,4,Phạm Văn Khương,Phó Tổng Giám đốc,Phó TGĐ,2025-08-11,0.00060,2267587
4,17,Nguyễn Diệu Linh,Phụ trách Công bố thông tin/Phó Chủ tịch Hội đ...,Phụ trách CBTT/Phó Chủ tịch HĐQT,2025-08-12,0.00024,932709

#### Tin tức

In [35]:
time.sleep(10)
company.news().head(3)

,id,news_title,news_sub_title,friendly_sub_title,news_image_url,news_source_link,created_at,public_date,updated_at,lang_code,news_id,news_short_content,news_full_content,close_price,ref_price,floor,ceiling,price_change_pct
0,8605528,VIC: Báo cáo kết quả giao dịch cổ phiếu của ng...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/vic-bao-cao-ket-...,None,1760118435000,None,vi,11736691,,<p> Phạm Nhật Vượng báo cáo kết quả giao dịch ...,192000,179500,167000,192000,0.069638
1,8605497,VIC: Quyết định về việc chốt danh sách người s...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/vic-quyet-dinh-v...,None,1760118020000,None,vi,11736656,,<p>Tập đoàn Vingroup - Công ty Cổ phần công bố...,192000,179500,167000,192000,0.069638
2,8605488,VIC: Báo cáo kết quả giao dịch cổ phiếu của tổ...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/vic-bao-cao-ket-...,None,1760117009000,None,vi,11736646,,<p>Công ty Cổ phần Năng lượng Vinenergo báo cá...,192000,179500,167000,192000,0.069638

#### Sự kiện

In [36]:
company.events().head(3)

,id,event_title,en__event_title,public_date,issue_date,source_url,event_list_code,ratio,value,record_date,exright_date,event_list_name,en__event_list_name
0,34668,Phát hành cổ phiếu,,2013-01-15,2013-01-24,,ISS,NaN,NaN,2013-01-24,2013-01-22,Phát hành cổ phiếu,Share Issue
1,34666,Phát hành cổ phiếu,,2012-05-25,2012-06-06,,ISS,NaN,NaN,2012-06-06,2012-06-04,Phát hành cổ phiếu,Share Issue
2,34688,Phát hành cổ phiếu,,2015-06-16,2015-06-29,http://stoxvn.stox.vn/tin-tuc/255520/vic-296-g...,ISS,NaN,NaN,2015-07-01,2015-06-29,Phát hành cổ phiếu,Share Issue

#### Báo cáo phân tích

In [37]:
company.reports()

,date,description,link,name
0,2025-09-10T00:00:00Z,Chúng tôi đã tham dự cuộc họp công bố KQKD quý...,https://www.vietcap.com.vn/trung-tam-phan-tich...,VinFast Auto (Nasdaq: VFS) - Các ghi nhận chín...
1,2025-09-05T00:00:00Z,Tóm tắt KQKD 6T 2025 VHM ghi nhận mức tăng trư...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"VIC, VHM, VRE - Kế hoạch mở bán các dự án BĐS ..."
2,2025-07-31T00:00:00Z,Tập đoàn VINGROUP (VIC) đã công bố KQKD nửa đầ...,https://www.vietcap.com.vn/trung-tam-phan-tich...,VIC - Tiếp tục ghi nhận các khoản tài trợ từ C...
3,2025-06-17T00:00:00Z,Chúng tôi đã tham dự cuộc họp công bố KQKD quý...,https://www.vietcap.com.vn/trung-tam-phan-tich...,VinFast Auto (Nasdaq: VFS) - Các ghi nhận chín...
4,2025-06-09T00:00:00Z,Tóm tắt KQKD quý 1/2025 VHM ghi nhận doanh số ...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"VIC, VHM, VRE - Triển vọng doanh số bán bất độ..."
5,2025-05-05T00:00:00Z,Chúng tôi đã tham dự cuộc họp công bố KQKD quý...,https://www.vietcap.com.vn/trung-tam-phan-tich...,VinFast Auto (Nasdaq: VFS) - Các ghi nhận chín...
6,2025-04-30T00:00:00Z,VIC công bố KQKD trong quý 1/2025 với LNST đạt...,https://www.vietcap.com.vn/trung-tam-phan-tich...,VIC – Chuyển nhượng dự án Global Gate (như đã ...
7,2025-04-24T00:00:00Z,Chúng tôi đã tham dự ĐHCĐ thường niên của Tập ...,https://www.vietcap.com.vn/trung-tam-phan-tich...,VIC - Kế hoạch tăng trưởng mạnh mẽ cho mảng bấ...
8,2025-03-04T00:00:00Z,Tóm tắt KQKD năm 2024 Doanh số bán hàng và lợi...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"VIC, VHM, VRE - Mảng BĐS vững chắc; doanh số b..."
9,2025-01-25T00:00:00Z,LNTT của VIC tăng 21% YoY trong năm 2024 đạt 1...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"VIC - Doanh thu BĐS, các khoản tài trợ từ Chủ ..."

#### Tình hình tài chính

In [38]:
company.ratio_summary()

,symbol,year_report,length_report,update_date,revenue,revenue_growth,net_profit,net_profit_growth,ebit_margin,roe,...,rtq4,charter_capital_ratio,rtq10,dividend,ebitda,ebit,le,de,ccc,rtq17
0,VIC,2025,2,1756890000810,46435488000000,0.096928,-940909000000,0.733379,-0.110693,0.096435,...,0.984985,4.089495,5.038339,0,31552104000000,-5138664000000,2.742726,5.038339,353.020798,1.556242

#### Thống kê giao dịch

In [39]:
company.trading_stats()

,symbol,exchange,ev,ceiling,floor,ref_price,open,match_price,close_price,price_change,...,high_price_1y,low_price_1y,pct_low_change_1y,pct_high_change_1y,foreign_volume,foreign_room,avg_match_volume_2w,foreign_holding_room,current_holding_ratio,max_holding_ratio
0,VIC,HOSE,821871801270000,219700,191100,205400,215900,211900,211900,6500,...,219700,39700,4.310777,0.031646,3493145,1863311472,4173833,147251133,0.038217,0.480176

### TCBS

In [40]:
from vnstock import Vnstock

company = Vnstock().stock(symbol='VIC', source='TCBS').company

2025-10-16 00:22:14 - vnstock.common.data.data_explorer - INFO - TCBS không cung cấp thông tin danh sách. Dữ liệu tự động trả về từ VCI.

#### Tổng quan

In [41]:
company.overview()

,symbol,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,VIC,HOSE,Real Estate,CT,56857,0.038,3853.0,3853.0,2002,303,3.0,0.141,0.466,3.604,VinGroup,http://www.vingroup.net,336,8633

#### Hồ sơ

In [42]:
company.profile()

,symbol,company_name,company_profile,history_dev,company_promise,business_risk,key_developments,business_strategies
0,VIC,VinGroup Joint Stock Company,"VinGroup Joint Stock Company (VIC), formerly ...","May 03, 2002: Established with an initial ch...","Stable GDP growth, increasing urbanization a...",Pressure from funding for some projects. Dif...,Property developer focusing on high-end resi...,Deploying to build a showroom network in for...

#### Cổ đông

In [43]:
company.shareholders()

                                        share_holder  share_own_percent
0       Vietnam Investment Group Joint Stock Company             0.3249
1                                    Pham Nhat Vuong             0.1004
2  Vmi Real Estate Investment And Management Join...             0.0628
3                                     Pham Thu Huong             0.0440
4                                     Pham Thuy Hang             0.0299
5                                     Pham Hong Linh             0.0036
6                                  Nguyen Quoc Thanh             0.0033
7                                 Pham Thi Tuyet Mai             0.0015
8                                       Le Minh Ngoc             0.0007
9                                              Other             0.1985

#### Giao dịch nội bộ

In [44]:
company.insider_deals().head(3)

,deal_announce_date,deal_method,deal_action,deal_quantity,deal_price,deal_ratio
0,2025-10-10,Cổ đông nội bộ,Bán,-60017806.0,192000.0,0.091
1,2025-10-10,Cổ đông lớn,Mua,60017806.0,192000.0,0.091
2,2025-07-04,Cổ đông lớn,Mua,87559863.0,91900.0,1.280

#### Công ty con, liên kết

In [45]:
company.subsidiaries().head()

                                    sub_company_name  sub_own_percent
0                                           Clextral              1.0
1       Vinbiocare Biotechnology Joint Stock Company              1.0
2  Cong ty Co Phan Dau Tu Va Phat Trien Khach San...              1.0
3  Vantix Technology Solutions And Services Joint...              1.0
4  Vincons Construction Development And Investmen...              1.0

#### Ban lãnh đạo

In [46]:
company.officers().head()

      officer_name                   officer_position  officer_own_percent
0  Pham Nhat Vuong       Chairman of Management Board               0.1004
1   Pham Thu Huong  Vice Chairman of Management Board               0.0440
2   Pham Thuy Hang  Vice Chairman of Management Board               0.0299
5   Phan Thu Huong                               None               0.0125
3   Pham Hong Linh                               None               0.0036

#### Sự kiện

In [47]:
company.events().head()

,rsi,rs,id,price,price_change,price_change_ratio,price_change_ratio_1m,event_name,event_code,notify_date,exer_date,reg_final_date,exer_right_date,event_desc
0,88.0,99.0,2601926,209500,-2400,-0.011,0.520,VIC - Holds a shareholders circular ballot,BALLOT,2025-10-15,1753-01-01,2025-10-30,2025-10-29,VinGroup Joint Stock Company (VIC) holds a sha...
1,77.9,86.0,2601758,192000,12500,0.070,0.467,VIC - Report Insider Transaction,DDALL,2025-10-10,2025-10-09,1753-01-01,1753-01-01,- Name of person/ corporation that conducts th...
2,77.9,86.0,2601761,192000,12500,0.070,0.467,VIC - Report Insider Transaction,DDINS,2025-10-10,2025-10-09,1753-01-01,1753-01-01,- Name of person/ corporation that conducts th...
3,79.1,96.0,2601391,179700,3200,0.018,0.438,VIC - Notification Insider Transaction,DDALL,2025-10-06,2025-11-07,1753-01-01,1753-01-01,- Name of person/ corporation that conducts th...
4,79.1,96.0,2601430,179700,3200,0.018,0.438,VIC - Notification Insider Transaction,DDINS,2025-10-06,2025-11-07,1753-01-01,1753-01-01,- Name of person/ corporation that conducts th...

#### Tin tức

In [48]:
company.news().head()

,rsi,rs,price,price_change,price_change_ratio,price_change_ratio_1m,id,title,source,publish_date
0,NaN,NaN,NaN,NaN,NaN,NaN,11740765,"Nhận nhiệm vụ quan trọng từ Chính phủ, Vingrou...",TCBS,2025-10-15 11:30:00
1,86.7,99.0,211900.0,6500.0,0.032,0.538,11738318,Đằng sau việc ông Phạm Nhật Vượng góp 60 triệu...,TCBS,2025-10-14 00:18:00
2,83.1,98.0,205400.0,13400.0,0.070,0.491,11737691,Chủ tịch Phạm Nhật Vượng hoàn tất mang hơn 60 ...,TCBS,2025-10-13 11:39:00
3,77.9,86.0,192000.0,12500.0,0.070,0.467,11736717,Vingroup của tỷ phú Phạm Nhật Vượng muốn xin ý...,TCBS,2025-10-10 18:35:00
4,77.9,86.0,192000.0,12500.0,0.070,0.467,11736691,VIC: Báo cáo kết quả giao dịch cổ phiếu của ng...,TCBS,2025-10-10 17:47:15

#### Cổ tức

In [49]:
company.dividends().head()

  exercise_date  cash_year  cash_dividend_percentage issue_method
0    2021-08-17       2021                     0.125        share
1    2018-06-28       2018                     0.210        share
2    2016-06-27       2016                     0.110        share
3    2015-06-29       2015                     0.258        share
4    2014-08-26       2014                     0.487        share

## Finance: Báo cáo tài chính

In [50]:
time.sleep(10)
from vnstock import Finance
finance = Finance(symbol='VIC', source='VCI')

### Bảng cân đối kế toán

In [51]:
finance.balance_sheet(period='year', lang='vi', dropna=True)

,CP,Năm,TÀI SẢN NGẮN HẠN (đồng),Tiền và tương đương tiền (đồng),Giá trị thuần đầu tư ngắn hạn (đồng),Các khoản phải thu ngắn hạn (đồng),Hàng tồn kho ròng,Tài sản lưu động khác,TÀI SẢN DÀI HẠN (đồng),Phải thu về cho vay dài hạn (đồng),...,Vốn góp của chủ sở hữu (đồng),Trái phiếu chuyển đổi (đồng),Vay và nợ thuê tài chính dài hạn (đồng),Người mua trả tiền trước ngắn hạn (đồng),Vay và nợ thuê tài chính ngắn hạn (đồng),Lợi thế thương mại (đồng),Trả trước dài hạn (đồng),Tài sản dài hạn khác (đồng),Phải thu dài hạn khác (đồng),Phải thu dài hạn (đồng)
0,VIC,2024,396479911000000,42582366000000,8718884000000,190046565000000,114090183000000,41041913000000,440123992000000,23359127000000,...,38785833000000,3688998000000,129041914000000,138374890000000,95189145000000,4517414000000,8641393000000,19388427000000,57573484000000,82564248000000
1,VIC,2023,343536472000000,27982623000000,6998671000000,168114731000000,92623746000000,47816701000000,324119295000000,1147876000000,...,38785833000000,0,97018190000000,45755699000000,116235201000000,492625000000,6195116000000,13892460000000,6107714000000,8237482000000
2,VIC,2022,283116653000000,26213302000000,6735880000000,126232017000000,98587507000000,25347947000000,294290587000000,2486207000000,...,38688573000000,9866970000000,119804341000000,74724604000000,40594457000000,764567000000,6028493000000,10691516000000,5722151000000,9932866000000
3,VIC,2021,161374270000000,18352236000000,8080448000000,72186627000000,50425325000000,12329634000000,267010195000000,455249000000,...,38675533000000,9488495000000,102011250000000,21680341000000,20036906000000,1144455000000,5714976000000,8831485000000,143707000000,598956000000
4,VIC,2020,166013805000000,29403688000000,10413625000000,52395927000000,62495269000000,11305296000000,256489962000000,6015000000000,...,34447691000000,5505646000000,98309224000000,37277334000000,25971982000000,2488464000000,8342477000000,4576705000000,1364649000000,7379649000000
5,VIC,2019,197392876000000,18446968000000,11172867000000,63871798000000,83808756000000,20092487000000,206347877000000,1207650000000,...,34309140000000,10259215000000,84430440000000,51470178000000,32995790000000,2374139000000,6681695000000,1707083000000,256782000000,1464432000000
6,VIC,2018,135401658000000,13557055000000,1951598000000,50075353000000,55228146000000,14589506000000,152725518000000,55000000000,...,32756212000000,10205665000000,61770712000000,25203958000000,19115963000000,4151695000000,5570350000000,1594869000000,305541000000,360541000000
7,VIC,2017,100246615638617,8141750027686,672569770071,27335112175074,56058815191085,8038368474701,113545441345980,269026341080,...,26377079540000,0,31219525897044,54822434640779,18140968057370,4640531015193,3061950076912,2176543861811,294618108302,563644449382
8,VIC,2016,92976241715191,9833332219401,494156904807,18254656305786,55175220368884,9218875916313,90499384229533,58989915115,...,26377079540000,0,34168826603603,47537280868648,5590652159634,5619762801574,2252711733160,1616241288531,406516702082,465506617197
9,VIC,2015,67699619665953,6938465104490,11142979590895,13848128025192,28027417689166,7742629256210,77854737886022,62559839165,...,18681880870000,2382401760582,33122684524987,20221096466017,1424617794094,8614693556645,1437896150549,2882019433681,191764239314,254324078479
10,VIC,2014,35211202920049,7607513719673,4088913717901,5028809010579,16314883755059,2171082716837,54858563585414,939532495238,...,14545550980000,3342284090914,28101065447242,6581278862139,1299068123531,6138735454457,1018937547468,1815581443945,100602091252,1040134586490
11,VIC,2013,39844677687769,7534048703295,5512841034628,3791905544739,18913717422013,4092164983094,35927970738026,0,...,9296036790000,0,24360164494408,16150044422734,3023470785606,0,1195471414505,2705645119316,0,0

In [52]:
finance.balance_sheet(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,CURRENT ASSETS (Bn. VND),Cash and cash equivalents (Bn. VND),Short-term investments (Bn. VND),Accounts receivable (Bn. VND),Net Inventories,Other current assets,LONG-TERM ASSETS (Bn. VND),...,Paid-in capital (Bn. VND),Convertible bonds (Bn. VND),Long-term borrowings (Bn. VND),Advances from customers (Bn. VND),Short-term borrowings (Bn. VND),Good will (Bn. VND),Long-term prepayments (Bn. VND),Other long-term assets (Bn. VND),Other long-term receivables (Bn. VND),Long-term trade receivables (Bn. VND)
0,VIC,2025,2,529134246000000,74759825000000,9592662000000,254128765000000,135055347000000,55597647000000,429101195000000,...,38785833000000,3806580000000,156309167000000,106640102000000,122630037000000,4238916000000,9225455000000,23026722000000,9701525000000,33675384000000
1,VIC,2025,1,372183892000000,32491938000000,7480260000000,179643132000000,110814852000000,41753710000000,451086356000000,...,38785833000000,3720189000000,149589087000000,90162798000000,98216347000000,4378934000000,8468210000000,19407044000000,58258943000000,89374815000000
2,VIC,2024,4,396479911000000,42582366000000,8718884000000,190046565000000,114090183000000,41041913000000,440123992000000,...,38785833000000,3688998000000,129041914000000,138374890000000,95189145000000,4517414000000,8641393000000,19388427000000,57573484000000,82564248000000
3,VIC,2024,3,423990500000000,27040242000000,6424590000000,217470663000000,128229866000000,44825139000000,367483444000000,...,38785833000000,3600189000000,115120855000000,97033850000000,96768964000000,1660480000000,7821923000000,16092357000000,11375130000000,15381144000000
4,VIC,2024,2,351053988000000,28565428000000,4219258000000,168284080000000,106890810000000,43094412000000,371076200000000,...,38785833000000,0,111176545000000,69213109000000,110794386000000,1714600000000,7761315000000,16926510000000,11418442000000,27769220000000

### Báo cáo lãi lỗ

In [53]:
finance.income_statement(period='year', lang='vi', dropna=True).head()

,CP,Năm,Tăng trưởng doanh thu (%),Doanh thu (đồng),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),Thu nhập tài chính,Chi phí tiền lãi vay,Doanh thu bán hàng và cung cấp dịch vụ,Các khoản giảm trừ doanh thu,...,Thu nhập khác,"Lãi lỗ trong công ty liên doanh, liên kết",Thu nhập/Chi phí khác,Lợi nhuận khác,LN trước thuế,Chi phí thuế TNDN hiện hành,Chi phí thuế TNDN hoãn lại,Lợi nhuận thuần,Cổ đông thiểu số,Cổ đông của Công ty mẹ
0,VIC,2024,0.171182,189090599000000,11903028000000,4.518517,47925492000000,-22980044000000,189090599000000,-22559000000,...,10068646000000,0,-4994702000000,5073944000000,16738706000000,-12913575000000,1450927000000,5276058000000,-6626970000000,11903028000000
1,VIC,2023,0.585831,161452751000000,2156925000000,-0.754389,20502485000000,-17245871000000,161452751000000,-25183000000,...,22132506000000,0,-3457771000000,18674735000000,13769352000000,-11287235000000,-426056000000,2056061000000,-100864000000,2156925000000
2,VIC,2022,-0.190579,101809529000000,8781861000000,4.493345,33048100000000,-10758322000000,101809529000000,-15947000000,...,5809849000000,0,-1058694000000,4751155000000,12755518000000,-11230925000000,519751000000,2044344000000,-6737517000000,8781861000000
3,VIC,2021,0.135662,125780761000000,-2513883000000,-1.460028,16045903000000,-10288893000000,125780761000000,-92891000000,...,1164220000000,0,-5778675000000,-4614455000000,3146451000000,-9905355000000,-799260000000,-7558164000000,-5044281000000,-2513883000000
4,VIC,2020,-0.149091,110755497000000,5464627000000,-0.275817,31068411000000,-11402385000000,110755497000000,-265464000000,...,982699000000,0,-1694848000000,-712149000000,13942555000000,-10282745000000,885763000000,4545573000000,-919054000000,5464627000000

In [54]:
finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue YoY (%),Revenue (Bn. VND),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Financial Income,Interest Expenses,Sales,...,Other income,Net income from associated companies,Other Income/Expenses,Net other income/expenses,Profit before tax,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Minority Interest,Attributable to parent company
0,VIC,2025,2,0.096928,46435488000000,-940909000000,0.733379,2506905000000,-7614201000000,46435488000000,...,18692171000000,0,-751681000000,17940490000000,3777060000000,-1353012000000,-127515000000,2296533000000,3237442000000,-940909000000
1,VIC,2025,1,2.866592,84057598000000,6978763000000,-0.120450,3881715000000,-6102357000000,84057598000000,...,5350497000000,0,-3126497000000,2224000000000,7381863000000,-4747228000000,-391366000000,2243269000000,-4735494000000,6978763000000
2,VIC,2024,4,1.264205,62156465000000,2192432000000,14.809203,10112054000000,-6919631000000,62156465000000,...,5732844000000,0,-1235905000000,4496939000000,5446885000000,-3463508000000,-775862000000,1207515000000,-984917000000,2192432000000
3,VIC,2024,3,0.310839,62862398000000,5294923000000,8.914245,8572435000000,-5608268000000,62862398000000,...,377588000000,0,-1262322000000,-884734000000,4705397000000,-4742333000000,2051847000000,2014911000000,-3280012000000,5294923000000
4,VIC,2024,2,-0.104735,42332284000000,-3529017000000,-2.934620,10300290000000,-5622417000000,42332284000000,...,2882661000000,0,-977463000000,1905198000000,4127427000000,-3478515000000,75965000000,724877000000,4253894000000,-3529017000000

### Báo cáo lưu chuyển tiền tệ

In [55]:
finance.cash_flow(period='year', dropna=True).head()

,ticker,yearReport,Net Profit/Loss before tax,Depreciation and Amortisation,Provision for credit losses,Unrealized foreign exchange gain/loss,Profit/Loss from disposal of fixed assets,Profit/Loss from investing activities,Interest Expense,Interest income and dividends,...,Payments for share repurchases,Proceeds from borrowings,Repayment of borrowings,Finance lease principal payments,Dividends paid,Cash flows from financial activities,Net increase/decrease in cash and cash equivalents,Cash and cash equivalents,Foreign exchange differences Adjustment,Cash and Cash Equivalents at the end of period
0,VIC,2024,16738706000000,22627124000000,10427372000000,2567767000000,0,-43058391000000,22980044000000,0,...,-10485188000000,157705768000000,-151150244000000,-128800000000,-666188000000,10934354000000,14937764000000,27982623000000,-338021000000,42582366000000
1,VIC,2023,13769352000000,17605842000000,6442431000000,2523845000000,0,-17296045000000,17245871000000,0,...,0,115658072000000,-77620096000000,-11298000000,-60950000000,48718276000000,1721200000000,26213302000000,48121000000,27982623000000
2,VIC,2022,12755518000000,21284073000000,3325467000000,1847813000000,0,-35207028000000,10758322000000,0,...,0,70060373000000,-47287263000000,0,-3382021000000,24114571000000,7959840000000,18352236000000,-98774000000,26213302000000
3,VIC,2021,3146451000000,14919628000000,10100081000000,-508816000000,0,-7287409000000,10288893000000,0,...,-4250000000,70266832000000,-63334265000000,0,-1718207000000,25672025000000,-10917669000000,29403688000000,-133783000000,18352236000000
4,VIC,2020,13942555000000,10063535000000,6833379000000,230354000000,0,-20863970000000,11402385000000,0,...,-42980000000,41249657000000,-38958120000000,0,-7188000000,11216324000000,10957408000000,18446968000000,-688000000,29403688000000

In [56]:
finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue YoY (%),Revenue (Bn. VND),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Financial Income,Interest Expenses,Sales,...,Other income,Net income from associated companies,Other Income/Expenses,Net other income/expenses,Profit before tax,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Minority Interest,Attributable to parent company
0,VIC,2025,2,0.096928,46435488000000,-940909000000,0.733379,2506905000000,-7614201000000,46435488000000,...,18692171000000,0,-751681000000,17940490000000,3777060000000,-1353012000000,-127515000000,2296533000000,3237442000000,-940909000000
1,VIC,2025,1,2.866592,84057598000000,6978763000000,-0.120450,3881715000000,-6102357000000,84057598000000,...,5350497000000,0,-3126497000000,2224000000000,7381863000000,-4747228000000,-391366000000,2243269000000,-4735494000000,6978763000000
2,VIC,2024,4,1.264205,62156465000000,2192432000000,14.809203,10112054000000,-6919631000000,62156465000000,...,5732844000000,0,-1235905000000,4496939000000,5446885000000,-3463508000000,-775862000000,1207515000000,-984917000000,2192432000000
3,VIC,2024,3,0.310839,62862398000000,5294923000000,8.914245,8572435000000,-5608268000000,62862398000000,...,377588000000,0,-1262322000000,-884734000000,4705397000000,-4742333000000,2051847000000,2014911000000,-3280012000000,5294923000000
4,VIC,2024,2,-0.104735,42332284000000,-3529017000000,-2.934620,10300290000000,-5622417000000,42332284000000,...,2882661000000,0,-977463000000,1905198000000,4127427000000,-3478515000000,75965000000,724877000000,4253894000000,-3529017000000

### Chỉ số tài chính

In [57]:
finance.ratio(period='year', lang='vi', dropna=True).head()

  Meta          Chỉ tiêu cơ cấu nguồn vốn                           \
    CP   Năm Kỳ          (Vay NH+DH)/VCSH   Nợ/VCSH TSCĐ / Vốn CSH
0  VIC  2024  5                  2.296449  4.438338       1.189222
1  VIC  2023  5                  2.093294  3.504441       1.082226
2  VIC  2022  5                  2.065550  3.256425       0.882695
3  VIC  2021  5                  1.404129  1.684586       0.819041
4  VIC  2020  5                  1.638469  2.110013       0.924824

                      Chỉ tiêu hiệu quả hoạt động                 \
  Vốn CSH/Vốn điều lệ           Vòng quay tài sản Vòng quay TSCĐ
0            3.964319                    0.251377       1.101305
1            3.819678                    0.259308       1.152429
2            3.495845                    0.202415       0.812923
3            4.112172                    0.295427       0.980650
4            3.500929                    0.267451       0.944728

                              ... Chỉ tiêu thanh khoản Chỉ tiêu định giá  \
  Số ngày thu tiền bình quân  ...    Đòn bẩy tài chính Vốn hóa (Tỷ đồng)
0                  57.112506  ...             5.438338   821871801270000
1                  62.695325  ...             4.504441   157276552815000
2                  87.365465  ...             4.256425   172551035580000
3                  52.318337  ...             2.684586   208074367540000
4                  53.958265  ...             3.110013   327597541410000

                                                                        \
  Số CP lưu hành (Triệu CP)        P/E       P/B       P/S P/Cash Flow
0                3878583300  69.047288  5.981738  4.346963   39.424936
1                3878583300  72.917024  1.382760  0.974286   -7.859243
2                3868857300  19.648573  1.567323  1.695107  -60.920369
3                3867553300 -82.770108  2.070927  1.655485  -14.647035
4                3444769100  59.948747  4.136548  2.964951   20.532689


     EPS (VND)    BVPS (VND)  EV/EBITDA
0  3068.911270  35424.489658  59.998657
1   556.111558  29325.399302  22.629569
2  2269.884961  28456.155258  28.793012
3  -649.993111  25978.702608  17.282199
4  1586.355091  22990.184451  62.871428

[5 rows x 37 columns]

In [58]:
finance.ratio(period='quarter', lang='en', dropna=True).head()

    Meta                         Chỉ tiêu cơ cấu nguồn vốn              \
  ticker yearReport lengthReport (ST+LT borrowings)/Equity Debt/Equity
0    VIC       2025            2                  2.742726    5.038339
1    VIC       2025            1                  2.523900    4.228687
2    VIC       2024            4                  2.296449    4.438338
3    VIC       2024            3                  1.990849    3.818513
4    VIC       2024            2                  2.052674    3.449374

                                                        \
  Fixed Asset-To-Equity Owners' Equity/Charter Capital
0              1.164283                       4.089495
1              1.149360                       4.057558
2              1.189222                       3.964319
3              1.137446                       4.232905
4              1.136026                       4.182458

  Chỉ tiêu hiệu quả hoạt động                                              \
               Asset Turnover Fixed Asset Turnover Days Sales Outstanding
0                    0.299718             1.389396              44.156242
1                    0.316855             1.367842              42.410167
2                    0.251377             1.101305              57.112506
3                    0.214577             0.873683              62.890970
4                    0.205735             0.835397              70.549302

   ... Chỉ tiêu thanh khoản        Chỉ tiêu định giá  \
   ...   Financial Leverage Market Capital (Bn. VND)
0  ...             6.038339             8.164540e+14
1  ...             5.228687             4.320738e+14
2  ...             5.438338             2.695681e+14
3  ...             4.818513             1.537112e+14
4  ...             4.449374             1.611673e+14

                                                                              \
  Outstanding Share (Mil. Shares)        P/E       P/B       P/S P/Cash Flow
0                    3.853016e+09  60.770310  5.655878  3.195787    6.912180
1                    3.823662e+09  40.035354  2.991662  1.718787   14.692873
2                    3.823662e+09  22.972316  1.961968  1.425773   13.116838
3                    3.823662e+09  16.314390  1.140040  0.995904   -5.364299
4                    3.823662e+09  45.511120  1.243799  1.155808   -7.462952


     EPS (VND)    BVPS (VND)  EV/EBITDA
0  -244.200678  37465.448699  32.801942
1  1825.151857  37771.644194  18.187335
2   573.385475  35933.314654  28.928204
3  1384.778155  35261.926520  55.727873
4  -922.941778  33888.123709  74.064214

[5 rows x 36 columns]

## New - Bộ lọc cổ phiếu

Hàm này chỉ tồn tại với nguồn dữ liệu TCBS

In [59]:
time.sleep(10)
from vnstock import Screener

screener = Screener()
screener_df = screener.stock(params={"exchangeName": "HOSE,HNX,UPCOM"}, limit=1700)
screener_df

,ticker,exchange,industry,market_cap,roe,stock_rating,business_operation,business_model,financial_health,alpha,...,nim,price_vs_sma200,eps_ttm_growth1_year,eps_ttm_growth5_year,equity_mi,eps_recently,percent_price_vs_ma200,percent_price_vs_ma20,percent_price_vs_ma50,percent_price_vs_ma100
0,A32,UPCOM,Hàng cá nhân & Gia dụng,NaN,NaN,NaN,1.7,3.5,2.6,0.1,...,NaN,None,NaN,NaN,NaN,NaN,-8.3,-6.5,-7.1,-8.9
1,AAA,HSX,Hóa chất,3146.0,5.1,2.5,1.5,3.0,4.0,-0.1,...,NaN,None,NaN,NaN,NaN,698.0,1.6,-3.0,-3.5,1.0
2,AAH,UPCOM,Tài nguyên Cơ bản,466.0,1.9,2.5,1.1,NaN,4.4,0.0,...,NaN,None,NaN,NaN,NaN,192.0,-4.6,-2.1,-4.5,-3.6
3,AAM,HSX,Thực phẩm và đồ uống,74.0,0.7,NaN,1.1,NaN,4.2,-0.1,...,NaN,"{'vi': 'Giá cắt lên SMA(200)', 'en': 'Price cr...",NaN,NaN,199.0,134.0,1.2,1.4,-0.6,0.2
4,AAS,UPCOM,Dịch vụ tài chính,2748.0,6.3,2.9,3.8,2.8,3.6,0.2,...,NaN,None,111.1,5000.0,2653.0,703.0,15.3,2.0,-17.0,-0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1613,XPH,UPCOM,Hàng cá nhân & Gia dụng,194.0,-1.2,NaN,1.1,NaN,4.2,0.4,...,NaN,None,NaN,NaN,NaN,-136.0,38.1,1.4,-0.5,9.1
1614,YBC,UPCOM,Xây dựng và Vật liệu,127.0,-84.4,NaN,2.5,3.5,1.6,0.2,...,NaN,None,NaN,NaN,NaN,-1674.0,-7.7,5.5,-0.8,-5.5
1615,YBM,HSX,Tài nguyên Cơ bản,203.0,8.5,NaN,2.2,3.7,2.6,0.1,...,NaN,"{'vi': 'Giá cắt xuống SMA(200)', 'en': 'Price ...",NaN,NaN,NaN,1130.0,2.3,1.5,0.7,-0.3
1616,YEG,HSX,Truyền thông,2570.0,8.9,2.4,1.6,3.0,4.8,-0.1,...,NaN,None,NaN,NaN,NaN,796.0,-6.1,-7.7,-9.5,-3.8
1617,YTC,UPCOM,Y tế,NaN,NaN,NaN,1.4,3.5,2.4,0.1,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN